# .env.example (작성 예시)

# PostgreSQL
POSTGRES_USER= 
POSTGRES_PASSWORD= 
POSTGRES_DB= 

# DB address
DATABASE_URL=postgresql+asyncpg://popkorn:popkorn201@localhost:5432/dbname

# Redis
REDIS_URL=redis://localhost:6379/0

# TMDB
TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3